<template>
	<div class="about">
		<div class="container">
			<h1 style="text-align: center">{{ title }}</h1>
			<div class="row">
				<br />
				<br />

				<!-- <div class="col-md-4"></div>
      <div class="col-md-4">Middle</div>
      <div class="col-md-4"></div> -->
			</div>
		</div>
		<br />
		<br />
		<div class="container">
			<div
				class="row featurette d-flex justify-content-center align-items-center"
			>
				<div class="col-md-7" style="text-align: left">
					<h2 class="featurette-heading" style="text-align: left">
						Why naYana? <span class="text-muted"></span>
					</h2>
					<p class="text">
						The ability to produce a variety of vocalizations and other sounds
						through the buccal cavity gives human beings, so to speak, a speech
						engine.According to Ethnologue there are over 7000 different
						languages spoken around the world.If we take IPA (International
						Phonetic Alphabet) as an indication of the variety of vocalizations
						that we can generate, we have about 107 sound symbols for each
						phoneme, plus about 50 diacritics generating variations of the
						sounds and a few intonations.<span class="dots_more" id="dots"
							>...</span
						>
						<span class="more" id="moreText">
							<br />
							<br />
							Universal literacy is the motive, we need a script that is easy to
							learn, easy to learn another language. extendable and localizable
							without violating the design principles, and finally preserving
							and provisioning for the diversity of expression. None of the
							languages use all of them.
							<br />
							<br />

							We followed the embodied nature of how the sounds are produced by
							us using the dynamic configurations facilitated by the dexterous
							movement of the lips, tongue, palate, teeth along with the
							modulated flow of breath through the vocal chords. Though some of
							the shapes of alphabets are arbitrary, most of the basic phonemes
							are linked to the form of the buccal configurations.
						</span>
					</p>
					<br />
					<button
						v-on:click="read_more()"
						type="button"
						class="btn btn-success"
						id="my-btn"
					>
						Read More
					</button>
				</div>
				<div class="col-md-5">
					<img
						class="
							bd-placeholder-img bd-placeholder-img-lg
							featurette-image
							img-fluid
							mx-auto
						"
						src="https://upload.wikimedia.org/wikipedia/commons/4/4b/Talk_sign.svg"
						alt="script_image"
					/>
				</div>
			</div>

			<hr class="featurette-divider" />

			<div class="row featurette">
				<div class="col-md-7 order-md-2" style="text-align: right">
					<h2 class="featurette-heading">
						Features of naYana. <span class="text-muted"></span>
					</h2>
					<p class="lead">
						The script can be written from left to right, or from right to left,
						or top down, only the writer and the reader need to know the order.
						As a proposed universal alphabet, this could be a factor for
						universal adoption.<span id="dots2">...</span>
						<br />
						<br />

						<span class="more" id="moreText2"
							>The vital feature of the alphabet is: no shape is reused by
							symmetric transformations (rotation or mirror forms) unless they
							are required semantically as in the case of brackets. This is
							specifically imposed as a design principle to ensure that no child
							is punished for their intuitive grasp of the shape while
							learning.</span
						>
					</p>
					<br />
					<button
						v-on:click="read_more_1()"
						type="button"
						class="btn btn-success"
						id="my-btn2"
					>
						Read More
					</button>
				</div>
				<div class="col-md-5 order-md-1">
					<img
						class="
							bd-placeholder-img bd-placeholder-img-lg
							featurette-image
							img-fluid
							mx-auto
						"
						src="https://upload.wikimedia.org/wikipedia/commons/4/49/Paint_Brush_-_The_Noun_Project.svg"
						alt="learning_made_fun"
					/>
				</div>
			</div>
			<hr class="featurette-divider" />

			<div
				class="row featurette d-flex justify-content-center align-items-center"
			>
				<div class="col-md-7" style="text-align: left">
					<h2 class="featurette-heading">
						Learning made fun & Simple <span class="text-muted"></span>
					</h2>
					<p class="lead">
						It is monotonous to learn the script the old way.We provide an
						interactive gaming platform to people who want to learn naYana. This
						will make the learning proces feasible and free from boredom
					</p>
				</div>

				<div class="col-md-5">
					<img
						class="
							bd-placeholder-img bd-placeholder-img-lg
							featurette-image
							img-fluid
							mx-auto
						"
						src="https://upload.wikimedia.org/wikipedia/commons/4/41/Simple_world_map.svg"
						alt="script_image"
					/>
				</div>
			</div>
		</div>
		<hr class="featurette-divider" />
		<div align="left" class="container">
			<strong>
				<h1 type="bold">Meet the contributors of naYana</h1>
			</strong>
			<p class="lead">
				<span style="font-weight: bold">Creators:</span> Nagarjuna G. and
				Vickram Crishna
				<br />
				<span style="font-weight: bold">Name of alphabet given by:</span> Rafikh
				Shaikh
				<br />
				<span style="font-weight: bold"
					>Transcription of UDHR in Marathi and Sanskrit:</span
				>
				Spruha Satavlekar
				<br />
				<span style="font-weight: bold">Website Developers:</span> Aakanksha
				Baijal, Arnav Jain, Ritesh Singh, Suhaas Mahajan and Vedant Patel
				<a
					class="gitlab_icon"
					href="https://gitlab.com/gnowledge/lernayana"
					style="text-decoration: none"
				>
					<img
						alt="gitlab-icon"
						src="https://cdn.freebiesupply.com/logos/large/2x/gitlab-logo-png-transparent.png"
						style="max-height: 30px"
					/>
				</a>

				<br />
				<span style="font-weight: bold">Keyboard Developers:</span> Ruchir Jain,
				Tushar Garg, Vikas Balani and Vinay Jain
				<a
					class="gitlab_icon"
					href="https://gitlab.com/gnowledge/nayana_browser_plugin"
					style="text-decoration: none"
				>
					<img
						alt="gitlab-icon"
						src="https://cdn.freebiesupply.com/logos/large/2x/gitlab-logo-png-transparent.png"
						style="max-height: 30px"
					/>
				</a>
				<br />
				<span style="font-weight: bold">OCR Developer:</span> Racchit Jain
				<a
					class="gitlab_icon"
					href="https://gitlab.com/gnowledge/nayana_ocr"
					style="text-decoration: none"
				>
					<img
						alt="gitlab-icon"
						src="https://cdn.freebiesupply.com/logos/large/2x/gitlab-logo-png-transparent.png"
						style="max-height: 30px"
					/>
				</a>
				<br />
				<span style="font-weight: bold">Student interns:</span> who worked
				iteratively testing the idea: Smriti Rao, Deepa Ramrakhani, Prachi
				Rahurkar, Sonal Bhavsar, Afrin Pinjari, Pooja Naik, Johnson Shetty,
				Kabir Kukreti and several others
			</p>
		</div>
	</div>
</template>

<script>
	export default {
		name: "About",

		data() {
			return {};
		},
		methods: {
			read_more: function () {
				var dots = document.getElementById("dots");
				var more = document.getElementById("moreText");
				var mybtn = document.getElementById("my-btn");

				if (dots.style.display === "none") {
					dots.style.display = "inline";
					more.style.display = "none";
					mybtn.innerHTML = "Read More";
				} else {
					dots.style.display = "none";
					more.style.display = "inline";
					mybtn.innerHTML = "Read Less";
				}
			},
			read_more_1: function () {
				var dots2 = document.getElementById("dots2");
				var more2 = document.getElementById("moreText2");
				var mybtn2 = document.getElementById("my-btn2");
				if (dots2.style.display === "none") {
					dots2.style.display = "inline";
					more2.style.display = "none";
					mybtn2.innerHTML = "Read More";
				} else {
					dots2.style.display = "none";
					more2.style.display = "inline";
					mybtn2.innerHTML = "Read Less";
				}
			},
		},
	};
</script>

<style scoped>
	.more {
		display: none;
	}
	.text {
		font-size: 20px;
	}
</style>
