<template>
	<iframe
		src="https://gnowledge.gitlab.io/nayana_browser_plugin/index.html"
		title="Keyboard"
		height="1000"
		width="100%"
	></iframe>
</template>

<script>
	export default {
		name: "Keyboard",
	};
</script>
