<template>
  <br />
  <br />
  <h1>naYana Login Page</h1>
  <br />
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input
              type="email"
              class="form-control"
              id="email"
              required
              v-model="email"
              placeholder="Enter your Email"
              aria-describedby="emailHelp"
            />
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              required
              v-model="password"
              placeholder="Enter your password"
            />
            <div v-if="password.length < 5" class="text-danger">
              pasword length should be greater than 4 characters
            </div>
          </div>
          <div class="form-group form-check"></div>
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Login",
  data() {
    return {
      email: "",
      password: "",
    };
  },
  methods: {
    login: function () {
      console.log("Email: " + this.email);
      console.log("Email: " + this.password);
    },
  },
};
</script>

<style scoped></style>
