<template>
	<br />
	<br />
	<h1>Register yourself first</h1>

	<div class="container">
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<form>
					<div class="form-group">
						<label for="exampleUsername">Username</label>
						<input
							type="name"
							class="form-control"
							id="exampleusername"
							required
							aria-describedby="emailHelp"
							placeholder="Provide a username"
						/>
					</div>

					<div class="form-group">
						<label for="exampleInputEmail1">Email address</label>
						<input
							type="email"
							class="form-control"
							id="email"
							required
							v-model="email"
							aria-describedby="emailHelp"
							placeholder="Enter your Email"
						/>
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Password</label>
						<input
							type="password"
							class="form-control"
							required
							v-model="password"
							id="password"
							placeholder="Please enter a pasword"
						/>
						<div v-if="password.length < 5" class="text-danger">
							Password length should be greater than 4 characters
						</div>
					</div>
					<div class="form-group">
						<label for="exampleInputPassword2"> Confirm Password</label>
						<input
							type="password"
							class="form-control"
							required
							v-model="confirmpassword"
							id="confirmpassword"
							placeholder="Confirm your passsword here"
						/>
						<div class="form-group form-check"></div>
						<div v-if="password != confirmpassword" class="text-danger">
							Passwords don't match
						</div>
					</div>
					<br />

					<button @click="register" class="btn-lg btn-primary">Register</button>
				</form>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</template>

<script>
	export default {
		name: "Register",
		data() {
			return {
				email: "",
				password: "",
				confirmpassword: "",
			};
		},
		methods: {
			register: function () {
				console.log("Email: " + this.email);
			},
		},
	};
</script>

<style scoped></style>
