<template>
	<div>
		<div class="nayana">
			<div class="row title">
				<div class="heading col-lg-12">
					<h1>naYana</h1>
				</div>
				<div class="heading col-lg-12">
					<h1>alphabets</h1>
				</div>
				<!-- <div class="threeLinks">
				<a href="#Vowels" class="links">Vowels</a>
				<a href="#Consonants" class="links">Consonants</a>
				<a href="#Numbers" class="links">Numbers</a>
			</div> -->
			</div>
		</div>
		<!-- *** -->
		<!-- Vowels -->

		<div class="row Vowels">
			<h2 class="col-12 headersSection" id="Vowels">Vowels</h2>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 0)" @mouseleave="clear"
					><p hidden>A</p>
					<svg
						id="logo"
						:class="{ l: letter === 'A' }"
						width="300"
						height="300"
						fill="white"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						viewBox="-10 0 668 1000"
					>
						<defs>
							<linearGradient id="left-to-right">
								<stop offset="0" stop-color="#4DAF4C">
									<animate
										dur="2s"
										attributeName="offset"
										fill="freeze"
										from="0"
										to="1"
									/>
								</stop>
								<stop offset="0" stop-color="#fff">
									<animate
										dur="2s"
										attributeName="offset"
										fill="freeze"
										from="0"
										to="1"
									/>
								</stop>
							</linearGradient>
						</defs>
						<g transform="matrix(1 0 0 -1 0 800)">
							<path
								d="M124 3c-9 0 -17 3 -22 9c-6 5 -9 13 -9 22v0c0 9 3 16 9 23c6 6 13 9 22 9v0h483c8 0 15 -3 22 -9c6 -7 9 -14 9 -23v0c0 -9 -3 -16 -9 -22c-7 -6 -14 -9 -22 -9v0h-483zM191 389c18 -39 34 0 34 0c0 49 7 91 23 126s36 61 61 79s52 27 80 27c31 0 58 -9 81 -29
c22 -20 39 -45 50 -77c12 -31 18 -65 18 -100c0 -34 -5 -59 -15 -77c-10 -17 -23 -25 -39 -25c-13 0 -25 5 -34 15c-9 11 -14 25 -14 42c0 8 1 16 2 23s2 13 2 16c0 7 -1 12 -5 16c-3 5 -7 7 -11 7c-7 0 -13 -5 -16 -15c-5 -19 -14 -39 -25 -61c-12 -22 -24 -32 -37 -32
c-9 0 -17 4 -22 13c-6 10 -8 24 -8 41s2 34 7 49c6 16 13 28 22 37c10 10 20 15 31 15c10 0 21 -5 34 -16c5 -4 9 -6 12 -6c5 0 9 2 12 6s5 10 5 16c0 9 -4 16 -12 24c-17 14 -34 21 -51 21s-33 -6 -48 -20c-14 -14 -25 -32 -34 -54c-8 -23 -12 -47 -12 -72
c0 -31 6 -55 18 -73s27 -27 47 -27c22 0 43 17 63 52c6 -21 16 -37 30 -47c15 -10 29 -15 43 -15c27 0 48 13 64 39s24 63 24 108c0 47 -8 90 -24 129c-16 38 -38 69 -66 90c-28 23 -58 34 -92 34c-37 0 -71 -12 -101 -37c-30 -24 -54 -57 -71 -100
c-17 -42 -26 -89 -26 -142z"
								fill="none"
								stroke="white"
								stroke-width="5"
							/>
						</g>
					</svg>
				</span>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 1)" @mouseleave="clear"
					><p hidden>e</p>
					<svg
						id="logo"
						:class="{ l: letter === 'e' }"
						width="300"
						height="300"
						fill="white"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						viewBox="-10 0 668 1000"
					>
						<path
							d="M415 540c-49 0 -92 -9 -130 -28c-38 -17 -67 -41 -88 -72s-31 -64 -31 -100v0c0 -38 10 -73 29 -107c19 -32 45 -59 79 -79s73 -30 117 -30v0c40 0 74 7 103 19c28 13 49 29 64 46c14 18 21 33 21 48v0c0 10 -8 19 -24 26v0l-310 148c17 26 39 46 68 60s62 21 101 21v0
c21 0 44 -5 68 -14c23 -9 42 -19 56 -31v0c5 -6 11 -9 20 -9v0c9 0 16 3 22 7c5 5 8 11 8 18v0c0 6 -3 11 -8 17v0c-18 17 -42 32 -73 42c-31 12 -62 18 -92 18v0zM517 227c-9 -19 -24 -34 -44 -43s-47 -14 -81 -14v0c-32 0 -61 8 -86 22c-25 15 -45 35 -59 60
c-15 25 -22 53 -23 83v0c0 11 1 20 2 27v0zM124 797c-9 0 -17 -3 -22 -9c-6 -5 -9 -13 -9 -22v0c0 -9 3 -16 9 -23c6 -6 13 -9 22 -9v0h483c8 0 15 3 22 9c6 7 9 14 9 23v0c0 9 -3 16 -9 22c-7 6 -14 9 -22 9v0h-483z"
							fill="none"
							stroke="white"
							stroke-width="5"
						/></svg
				></span>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 2)" @mouseleave="clear"
					><p hidden>E</p>
					<svg
						id="logo"
						:class="{ l: letter === 'E' }"
						width="300"
						height="300"
						fill="white"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						viewBox="-10 0 668 1000"
					>
						<g transform="matrix(1 0 0 -1 0 800)">
							<path
								d="M124 4c-9 0 -17 3 -22 9c-6 5 -9 13 -9 22v0c0 9 3 16 9 23c6 6 13 9 22 9v0h483c8 0 15 -3 22 -9c6 -7 9 -14 9 -23v0c0 -9 -3 -16 -9 -22c-7 -6 -14 -9 -22 -9v0h-483zM511 296c-21 0 -43 8 -65 23s-37 38 -47 68c-29 -51 -61 -76 -96 -76c-30 0 -54 13 -72 39
c-18 27 -26 63 -26 108c0 38 6 73 18 106c13 33 30 59 52 80c22 20 46 30 73 30c26 0 52 -10 77 -31c13 -12 19 -23 19 -35c0 -10 -2 -18 -7 -25c-5 -6 -11 -9 -18 -9c-5 0 -12 3 -19 10c-19 15 -37 23 -52 23c-17 0 -33 -8 -47 -22c-14 -13 -25 -32 -34 -55
c-8 -22 -11 -46 -11 -72c0 -25 4 -45 12 -59s20 -21 34 -21c20 0 39 16 56 48c18 32 31 62 39 89c5 15 13 23 24 23c7 0 13 -3 18 -10c5 -6 7 -14 7 -24c0 -5 -1 -13 -3 -23c-2 -11 -4 -22 -4 -34c0 -26 8 -46 22 -62c15 -15 32 -22 52 -22c36 17 64 -39 -2 -67z"
								fill="none"
								stroke="white"
								stroke-width="5"
							/>
						</g>
					</svg>
				</span>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 3)" @mouseleave="clear"
					><p hidden>i</p>
					<svg
						id="logo"
						:class="{ l: letter === 'i' }"
						width="300"
						height="300"
						fill="white"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						viewBox="-10 0 508 1000"
					>
						<path
							d="M301 502c-9 0 -16 -2 -23 -8c-7 -4 -10 -9 -10 -16v0l6 -326c0 -7 3 -12 10 -17s14 -8 23 -8v0c9 0 16 3 23 7c6 5 9 11 9 18v0l-6 326c0 7 -3 12 -9 16c-7 6 -14 8 -23 8v0zM165 794c-9 0 -16 -3 -22 -9c-6 -5 -9 -12 -9 -21v0c0 -9 3 -16 9 -22s13 -9 22 -9v0h281
c9 0 16 3 23 9c6 6 9 13 9 22v0c0 9 -3 16 -9 21c-7 6 -14 9 -23 9v0h-281z"
							fill="none"
							stroke="white"
							stroke-width="5"
						/>
					</svg>
				</span>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 4)" @mouseleave="clear"
					><p hidden>y</p>
					<svg
						id="logo"
						:class="{ l: letter === 'y' }"
						width="300"
						height="300"
						fill="white"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						viewBox="-10 0 668 1000"
					>
						<path
							d="M279 503c-9 0 -16 -2 -22 -5c-6 -4 -9 -7 -9 -12v0c0 -3 1 -5 4 -8v0l97 -115l-194 -209c-3 -4 -4 -6 -4 -9v0c0 -5 3 -9 10 -13c6 -3 13 -5 22 -5v0c7 0 13 2 18 4s9 5 12 8v0l170 184l157 -185c7 -7 17 -11 30 -11v0c9 0 16 2 22 5s9 7 9 12v0c0 3 -1 6 -3 7v0
l-289 341c-7 7 -17 11 -30 11v0zM124 796c-9 0 -17 -3 -22 -9c-6 -5 -9 -13 -9 -22v0c0 -9 3 -16 9 -23c6 -6 13 -9 22 -9v0h483c8 0 15 3 22 9c6 7 9 14 9 23v0c0 9 -3 16 -9 22c-7 6 -14 9 -22 9v0h-483z"
							fill="none"
							stroke="white"
							stroke-width="5"
						/>
					</svg>
				</span>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 5)" @mouseleave="clear"
					><p hidden>o</p>
					<svg
						id="logo"
						:class="{ l: letter === 'o' }"
						width="300"
						height="300"
						fill="white"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						viewBox="-10 0 654 1000"
					>
						<path
							d="M381 508c-32 0 -60 -8 -87 -24c-26 -15 -47 -36 -61 -63c-15 -27 -23 -56 -23 -89v0c0 -34 8 -67 26 -99c17 -31 41 -57 71 -77c30 -19 64 -29 100 -29v0c32 0 61 8 87 23c26 16 47 37 62 64c14 26 22 56 22 88v0c0 37 -9 71 -27 102s-42 57 -72 76s-63 28 -98 28v0z
M382 445c23 0 44 -7 64 -20c19 -12 36 -30 48 -51c12 -22 18 -45 18 -69v0c0 -21 -5 -41 -15 -59s-24 -32 -40 -44c-18 -11 -37 -16 -58 -16v0c-23 0 -44 7 -64 19c-19 14 -35 31 -47 53s-18 45 -18 69v0c0 24 6 44 16 61c10 19 23 32 41 42c17 10 35 15 55 15v0zM214 798
c-12 0 -21 -3 -29 -9c-8 -5 -12 -12 -12 -21v0c0 -9 4 -16 12 -22s17 -9 29 -9v0h368c12 0 21 3 30 9c8 6 12 13 12 22v0c0 9 -4 16 -12 21c-9 6 -18 9 -30 9v0h-368z"
							fill="none"
							stroke="white"
							stroke-width="5"
						/>
					</svg>
				</span>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 6)" @mouseleave="clear"
					><p hidden>u</p>
					<svg
						id="logo"
						:class="{ l: letter === 'u' }"
						width="300"
						height="300"
						fill="white"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						viewBox="-10 0 732 1000"
					>
						<path
							d="M413 496c-31 0 -60 -6 -86 -20c-27 -13 -47 -29 -61 -47c-5 -7 -8 -12 -8 -17c0 -6 3 -11 8 -16c5 -4 10 -6 17 -6c8 0 16 4 23 13c25 34 61 51 107 51c20 0 40 -5 60 -14c19 -10 35 -23 48 -41c12 -18 18 -39 18 -64c0 -27 -6 -53 -19 -78s-30 -46 -50 -62
c-20 -15 -41 -23 -62 -23c-19 0 -35 3 -47 10c-12 6 -24 16 -36 29c-5 5 -11 8 -18 8s-13 -2 -17 -7c-5 -4 -7 -10 -7 -16s2 -12 6 -15c17 -18 34 -31 52 -39c18 -9 40 -13 68 -13c30 0 59 10 87 31c28 20 50 46 67 79c17 32 25 64 25 98c0 29 -8 56 -23 81
c-16 24 -38 44 -64 58c-28 13 -57 20 -88 20zM188 797c-9 0 -17 -3 -22 -9c-6 -5 -9 -13 -9 -22v0c0 -9 3 -16 9 -23c6 -6 13 -9 22 -9v0h483c8 0 15 3 22 9c6 7 9 14 9 23v0c0 9 -3 16 -9 22c-7 6 -14 9 -22 9v0h-483z"
							fill="none"
							stroke="white"
							stroke-width="5"
						/>
					</svg>
				</span>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 7)" @mouseleave="clear"
					><p hidden>a</p>
					<svg
						id="logo"
						:class="{ l: letter === 'a' }"
						width="300"
						height="300"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						viewBox="-10 0 534 1000"
					>
						<path
							d="M188 466c-9 0 -16 -3 -22 -9c-6 -5 -9 -12 -9 -21v0c0 -9 3 -16 9 -22s13 -9 22 -9v0h281c9 0 16 3 23 9c6 6 9 13 9 22v0c0 9 -3 16 -9 21c-7 6 -14 9 -23 9v0h-281zM191 798c-9 0 -16 -3 -22 -9c-6 -5 -9 -12 -9 -21v0c0 -9 3 -16 9 -22s13 -9 22 -9v0h281
c9 0 16 3 23 9c6 6 9 13 9 22v0c0 9 -3 16 -9 21c-7 6 -14 9 -23 9v0h-281z"
							fill="none"
							stroke="white"
							stroke-width="5"
						/>
					</svg>
				</span>
			</div>

			<!-- Consonants -->

			<h2 class="col-12 headersSection" id="Consonants">Consonants</h2>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 8)" @mouseleave="clear"
					><p hidden>h</p>
					<svg
						id="logo"
						:class="{ l: letter === 'h' }"
						fill="white"
						width="300"
						height="300"
						viewBox="-90 -40 378 378"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
					>
						<g>
							<path
								d="m 52.79156,90.391304 -1.139388,50.892586 v 91.53068 l 0.379796,-55.07033 c 0,0 -3.418158,6.83632 4.177749,-2.65857 7.59591,-9.49488 22.787724,-9.49488 22.787724,-9.49488 l 49.373399,-7.59591 c 0,0 30.00384,-0.37979 33.80179,-5.69692 3.79796,-5.31714 1.13939,-57.349113 1.13939,-57.349113 l 1.89898,80.136823 v 56.96931"
								style="
									paint-order: stroke fill markers;
									line-height: 1.25;
									stroke-opacity: 1;
									stroke-miterlimit: 4;
									stroke-linejoin: round;
									stroke-linecap: round;
									stroke-width: 15.665;
									stroke: #ffffff;
									fill: none;
								"
							/>
						</g>
					</svg>
				</span>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 9)" @mouseleave="clear"
					><p hidden>Y</p>
					<svg
						id="logo"
						:class="{ l: letter === 'Y' }"
						width="400"
						height="400"
						viewBox="-40 -20 378 378"
						fill="white"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
					>
						<g>
							<path
								style="
									fill: none;
									stroke: #ffffff;
									stroke-width: 11.865;
									stroke-linecap: round;
									stroke-linejoin: round;
									stroke-opacity: 1;
									stroke-miterlimit: 4;
									stroke-dasharray: none;
								"
								d="m 60.387467,99.886187 17.470588,24.686703 15.951407,22.40793 c 0,0 5.317135,9.87468 7.595908,11.77365 2.27877,1.89898 16.711,-17.09079 16.711,-17.09079 L 133.30818,118.49616 148.5,98.746801 86.973144,186.09974"
								id="path10491"
							/>
						</g></svg
				></span>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 10)" @mouseleave="clear"
					><p hidden>k</p>
					<svg
						id="logo"
						:class="{ l: letter === 'k' }"
						width="400"
						height="400"
						fill="white"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						viewBox="-40 -20 378 378"
					>
						<path
							style="
								fill: none;
								stroke: #ffffff;
								stroke-width: 12.465;
								stroke-linecap: round;
								stroke-linejoin: round;
								stroke-miterlimit: 4;
								stroke-dasharray: none;
								stroke-opacity: 1;
							"
							d="m 142.42327,104.82353 -35.32097,16.3312 -47.094629,22.78772 v 0 c 3.797954,3.03837 24.686702,12.53325 24.686702,12.53325 l 30.763427,13.29284 29.24424,12.53325"
							id="path14252"
						/>
					</svg>
				</span>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 11)" @mouseleave="clear"
					><p hidden>q</p>
					<svg
						id="logo"
						:class="{ l: letter === 'q' }"
						width="300"
						height="300"
						fill="white"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						viewBox="-10 0 609 1000"
					>
						<path
							d="M435 579c-9 0 -16 -2 -22 -6s-8 -8 -7 -12v0l4 -30c1 -4 4 -8 11 -11c6 -3 13 -4 21 -4v0c9 0 17 2 23 7s8 9 7 15v0l-5 26c-1 5 -4 8 -10 11c-7 3 -14 4 -22 4v0zM100 553c0 -15 7 -27 21 -34l417 -210c5 -2 9 -2 11 -2c8 0 15 3 21 10c6 8 8 17 8 28c0 15 -6 27 -20 35
l-355 173l358 175c5 3 9 7 13 13s5 13 5 21c0 10 -3 19 -9 26c-6 8 -13 12 -20 12c-4 0 -9 -2 -14 -5l-417 -207c-13 -8 -19 -19 -19 -35z"
							fill="none"
							stroke="white"
							stroke-width="5"
						/>
					</svg>
				</span>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 12)" @mouseleave="clear"
					><p hidden>c</p>
					<svg
						id="logo"
						:class="{ l: letter === 'c' }"
						width="400"
						height="400"
						fill="white"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						viewBox="-90 -40 378 378"
					>
						<path
							style="
								fill: none;
								stroke: #ffffff;
								stroke-width: 13.865;
								stroke-linecap: round;
								stroke-linejoin: round;
								stroke-miterlimit: 4;
								stroke-dasharray: none;
								stroke-opacity: 1;
							"
							d="m 27.725064,176.60485 h 21.648338 c 0,0 23.927109,1.89898 25.446291,-1.89897 1.519182,-3.79796 -1.898978,-9.49489 -4.937339,-13.29284 -3.038364,-3.79796 -10.254478,-18.23018 -9.874682,-26.96548 0.379797,-8.73529 -0.379796,-27.34526 6.076725,-36.080556 6.456524,-8.73529 14.584031,-18.71286 25.826088,-20.88874 11.773665,-2.27878 17.266935,-2.60551 27.345275,3.03836 9.49489,5.31713 23.57156,21.231196 25.82608,26.585676 6.07672,14.43221 7.5959,22.40792 5.31713,29.62404 -2.27877,7.21611 -9.11509,18.98976 -11.77365,24.3069 -2.65857,5.31713 -12.15345,12.91304 -9.49488,13.29284 2.65857,0.37979 23.9271,0.75959 23.9271,0.75959 l 26.58568,0.3798"
							id="path24908"
						/>
					</svg>
				</span>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 13)" @mouseleave="clear"
					><p hidden>t</p>
					<svg
						id="logo"
						:class="{ l: letter === 't' }"
						width="300"
						height="300"
						fill="white"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						viewBox="-40 -40 378 378"
					>
						<path
							style="
								fill: none;
								stroke: #ffffff;
								stroke-width: 16.365;
								stroke-linecap: round;
								stroke-linejoin: round;
								stroke-miterlimit: 4;
								stroke-dasharray: none;
								stroke-opacity: 1;
							"
							d="m 56.589514,85.453962 60.007676,1.139386 67.60358,0.379796 c 0,0 -64.94501,-1.519181 -64.94501,3.038364 0,4.557544 -10e-6,41.017902 -10e-6,41.017902 v 80.89642"
							id="path29738"
						/>
					</svg>
				</span>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 14)" @mouseleave="clear"
					><p hidden>T</p>
					<svg
						id="logo"
						:class="{ l: letter === 'T' }"
						width="300"
						height="300"
						fill="white"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						viewBox="-10 0 605 1000"
					>
						<g transform="matrix(1 0 0 -1 0 800)">
							<path
								d="M239 -6c-9 0 -16 2 -22 8c-6 4 -9 9 -9 16v0c0 3 1 6 4 10v0l281 422h-304c-9 0 -16 2 -22 6c-6 5 -9 10 -9 17v0c0 7 3 12 9 17c6 4 13 6 22 6v0h355c9 0 16 -2 22 -6c6 -5 9 -11 9 -18v0c0 -3 -1 -7 -4 -12v0l-304 -453c-2 -4 -6 -7 -11 -9c-6 -2 -12 -4 -17 -4v0z"
								fill="none"
								stroke="white"
								stroke-width="5"
							/>
						</g>
					</svg>
				</span>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 15)" @mouseleave="clear"
					><p hidden>d</p>
					<svg
						id="logo"
						:class="{ l: letter === 'd' }"
						width="300"
						height="300"
						fill="white"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						viewBox="-10 0 587 1000"
					>
						<path
							d="M135 603c0 -8 0 -16 1 -25c6 -118 89 -219 179 -218c70 -4 138 52 170 134c23 63 28 143 -1 204c-14 34 -45 56 -74 44c-46 -15 -72 -80 -70 -139h-41c0 27 -4 55 -15 79c-16 43 -55 75 -92 59c-41 -21 -58 -84 -57 -138zM80 599c-1 59 16 118 51 159
c38 50 104 54 150 17c20 -10 27 -41 40 -56c17 61 74 91 123 78c63 -16 105 -92 111 -168c13 -120 -44 -245 -134 -294c-31 -15 -62 -29 -95 -28c-28 0 -55 8 -81 20c-95 34 -167 149 -165 272z"
							fill="none"
							stroke="white"
							stroke-width="5"
						/></svg
				></span>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 16)" @mouseleave="clear"
					><p hidden>D</p>
					<svg
						id="logo"
						:class="{ l: letter === 'D' }"
						width="300"
						height="300"
						fill="white"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						viewBox="-10 0 577 1000"
					>
						<g transform="matrix(1 0 0 -1 0 800)">
							<path
								d="M315 495c15 0 26 -7 32 -19l194 -423c3 -5 4 -8 4 -12c2 -3 2 -7 2 -11c0 -8 -3 -15 -8 -21s-11 -9 -18 -9h-414c-8 0 -15 3 -19 9c-5 5 -8 12 -8 21c0 8 4 15 8 22v1l195 421c7 14 18 21 32 21zM316 407l-165 -351h330z"
								fill="none"
								stroke="white"
								stroke-width="5"
							/>
						</g>
					</svg>
				</span>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 17)" @mouseleave="clear"
					><p hidden>p</p>
					<svg
						id="logo"
						:class="{ l: letter === 'p' }"
						width="300"
						height="300"
						fill="white"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						viewBox="-10 0 652 1000"
					>
						<path
							d="M379 794c-40 0 -75 -10 -108 -31c-32 -20 -58 -48 -76 -83c-19 -35 -28 -73 -28 -116v0c0 -45 10 -89 32 -130c21 -41 51 -75 88 -101c38 -25 79 -38 124 -38v0c39 0 76 10 108 30c32 21 57 48 76 83c18 35 27 74 27 116v0c0 48 -11 93 -33 134s-52 74 -89 99
s-78 37 -121 37v0zM385 734c31 0 61 -10 88 -28c27 -19 50 -45 66 -76c16 -32 25 -65 25 -101v0c0 -30 -6 -60 -21 -86c-14 -27 -32 -48 -55 -64c-24 -16 -50 -24 -79 -24v0c-32 0 -61 10 -88 29c-28 19 -49 45 -66 76c-16 33 -25 66 -25 102v0c0 34 8 64 22 89
c14 27 33 47 57 62c24 14 49 21 76 21v0z"
							fill="none"
							stroke="white"
							stroke-width="5"
						/>
					</svg>
				</span>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 18)" @mouseleave="clear"
					><p hidden>f</p>
					<svg
						id="logo"
						:class="{ l: letter === 'f' }"
						width="300"
						height="300"
						fill="white"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						viewBox="-10 0 632 1000"
					>
						<path
							d="M228 841c-7 0 -14 -3 -19 -9c-6 -6 -9 -13 -9 -21v0c0 -7 1 -12 4 -16v0l28 -48c-21 -21 -37 -47 -48 -77c-12 -29 -18 -61 -18 -94v0c0 -48 11 -93 32 -134s50 -74 86 -99s75 -37 116 -37v0c27 0 54 6 79 19v0l29 -49c5 -9 13 -14 24 -14v0c8 0 15 3 21 8c6 6 9 13 9 21
v0c0 5 -1 10 -4 15v0l-31 51c23 22 42 49 55 80s20 64 20 99v0c0 48 -11 93 -32 134s-50 74 -85 99c-36 25 -75 37 -116 37v0c-33 0 -64 -8 -91 -23v0l-25 43c-7 10 -15 15 -25 15v0zM449 375c-17 -9 -35 -14 -54 -14v0c-29 0 -57 10 -82 29c-25 20 -45 46 -60 79
s-23 68 -23 105v0c0 45 12 84 35 118v0zM369 751c29 0 56 -10 82 -29s47 -45 63 -78c16 -32 24 -66 24 -103v0c0 -24 -4 -47 -11 -70c-8 -22 -19 -41 -33 -58v0l-187 321c19 11 39 17 62 17v0z"
							fill="none"
							stroke="white"
							stroke-width="5"
						/>
					</svg>
				</span>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 19)" @mouseleave="clear"
					><p hidden>b</p>
					<svg
						id="logo"
						:class="{ l: letter === 'b' }"
						width="300"
						height="300"
						fill="white"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						viewBox="-10 0 614 1000"
					>
						<path
							d="M377 806c-39 0 -75 -6 -106 -18c-32 -12 -57 -28 -74 -49c-17 -20 -26 -43 -26 -68v0c1 -34 13 -62 38 -83c24 -22 55 -40 94 -54v0c-31 -11 -55 -25 -73 -42c-18 -16 -27 -37 -27 -62v0c0 -27 8 -50 25 -70s39 -34 68 -45c28 -11 59 -16 92 -16v0c35 0 66 5 93 15
s48 24 63 42c15 19 23 39 23 62v0c0 26 -9 48 -28 65c-19 18 -45 33 -76 45v0c39 15 69 35 90 57c21 24 31 50 31 78v0c0 27 -9 51 -27 73s-43 39 -74 51c-31 13 -67 19 -106 19v0zM386 505c47 -14 79 -28 96 -43s26 -32 26 -51v0c0 -20 -11 -37 -33 -50
c-23 -12 -51 -18 -84 -18v0c-35 0 -64 7 -88 21c-24 15 -36 35 -36 61v0c0 19 9 35 28 48c18 12 48 23 91 32v0zM377 744c24 0 47 -3 70 -9c22 -6 40 -15 55 -27c14 -12 21 -27 21 -45v0c0 -23 -13 -43 -39 -59s-58 -27 -97 -36v0c-35 10 -62 19 -81 26s-36 17 -51 29
c-15 13 -23 29 -23 48v0c0 21 14 39 42 52c28 14 62 21 103 21v0z"
							fill="none"
							stroke="white"
							stroke-width="5"
						/>
					</svg>
				</span>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 20)" @mouseleave="clear"
					><p hidden>v</p>
					<svg
						id="logo"
						:class="{ l: letter === 'v' }"
						width="300"
						height="300"
						fill="white"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						viewBox="-10 0 520 1000"
					>
						<path
							d="M111 300c-12 20 -18 43 -18 68c0 29 10 53 28 72c19 19 44 34 76 47c-40 17 -73 38 -98 62s-38 56 -39 95c0 30 9 56 27 80s43 42 76 56c33 13 70 20 111 20s78 -7 111 -21c32 -14 58 -34 77 -59c18 -26 28 -54 28 -84c0 -33 -11 -62 -34 -89c-21 -27 -52 -49 -92 -66
c32 -14 58 -31 78 -51c20 -21 30 -46 30 -76c0 -19 -4 -37 -13 -54h-75c15 13 24 30 24 49c0 22 -10 41 -28 58s-51 33 -99 48c-45 -10 -77 -22 -96 -36s-28 -33 -28 -55c0 -26 9 -50 29 -66zM284 503c45 11 83 28 114 50c30 22 45 49 45 82c0 24 -8 45 -25 62
s-38 30 -65 38c-26 8 -53 12 -81 12c-47 0 -88 -9 -120 -28c-33 -19 -50 -43 -50 -73c0 -27 9 -49 26 -67c18 -17 38 -31 60 -40c23 -10 55 -22 96 -36z"
							fill="none"
							stroke="white"
							stroke-width="5"
						/>
					</svg>
				</span>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 21)" @mouseleave="clear"
					><p hidden>w</p>
					<svg
						id="logo"
						:class="{ l: letter === 'w' }"
						width="300"
						height="300"
						fill="white"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						viewBox="-10 0 520 1000"
					>
						<path
							d="M111 300c-12 20 -18 43 -18 68c0 29 10 53 28 72c19 19 44 34 76 47c-40 17 -73 38 -98 62s-38 56 -39 95c0 30 9 56 27 80s43 42 76 56c33 13 70 20 111 20s78 -7 111 -21c32 -14 58 -34 77 -59c18 -26 28 -54 28 -84c0 -33 -11 -62 -34 -89c-21 -27 -52 -49 -92 -66
c32 -14 58 -31 78 -51c20 -21 30 -46 30 -76c0 -19 -4 -37 -13 -54h-75c15 13 24 30 24 49c0 22 -10 41 -28 58s-51 33 -99 48c-45 -10 -77 -22 -96 -36s-28 -33 -28 -55c0 -26 9 -50 29 -66zM284 503c45 11 83 28 114 50c30 22 45 49 45 82c0 24 -8 45 -25 62
s-38 30 -65 38c-26 8 -53 12 -81 12c-47 0 -88 -9 -120 -28c-33 -19 -50 -43 -50 -73c0 -27 9 -49 26 -67c18 -17 38 -31 60 -40c23 -10 55 -22 96 -36zM269 672c-9 0 -16 -2 -22 -6s-8 -8 -7 -12v0l4 -30c1 -4 4 -8 11 -11c6 -3 13 -4 21 -4v0c9 0 17 2 23 7s8 9 7 15v0
l-5 26c-1 5 -4 8 -10 11c-7 3 -14 4 -22 4v0z"
							fill="none"
							stroke="white"
							stroke-width="5"
						/>
					</svg>
				</span>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 22)" @mouseleave="clear"
					><p hidden>m</p>
					<svg
						id="logo"
						:class="{ l: letter === 'm' }"
						width="300"
						height="300"
						fill="white"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						viewBox="-10 0 593 1000"
					>
						<path
							d="M356 806c-39 0 -73 -6 -101 -17c-29 -11 -50 -22 -65 -34s-24 -22 -29 -29v0c-3 -4 -5 -9 -5 -15v0c0 -6 3 -11 9 -15c5 -3 12 -6 21 -6v0c13 0 23 5 28 13v0c11 14 28 26 51 38c23 13 52 19 89 19v0c24 0 47 -3 70 -11s41 -20 56 -36c14 -15 21 -34 21 -57v0
c0 -27 -10 -48 -29 -64s-42 -27 -67 -33c-25 -7 -48 -10 -68 -10v0c-9 0 -16 -2 -21 -6c-6 -5 -9 -10 -9 -16v0c0 -7 3 -13 9 -17s13 -6 22 -6v0c23 0 46 -4 69 -12s41 -18 56 -32c15 -13 22 -26 22 -42v0c0 -11 -5 -21 -15 -31c-11 -10 -26 -18 -45 -25
c-20 -6 -43 -9 -70 -9v0c-29 0 -53 3 -70 8s-33 11 -47 19v0c-9 6 -16 8 -22 8v0c-10 0 -18 -2 -23 -8c-5 -4 -8 -9 -8 -15v0c0 -9 11 -19 34 -30v0c17 -8 38 -15 61 -20s48 -8 75 -8v0c35 0 68 5 98 14c29 11 53 25 70 41c17 17 25 36 25 56v0c0 22 -9 42 -26 61
s-40 34 -69 46v0c35 12 63 29 82 53c19 23 28 49 28 78v0c0 34 -11 62 -33 85c-22 22 -49 39 -81 49c-32 11 -63 16 -93 16v0z"
							fill="none"
							stroke="white"
							stroke-width="5"
						/>
					</svg>
				</span>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 23)" @mouseleave="clear"
					><p hidden>n</p>
					<svg
						id="logo"
						:class="{ l: letter === 'n' }"
						width="300"
						height="300"
						fill="white"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						viewBox="-10 0 571 1000"
					>
						<path
							d="M163 805c-9 0 -16 -3 -22 -10c-7 -6 -10 -13 -10 -21v0c0 -8 2 -14 7 -19v0l306 -386h-271c-9 0 -16 -3 -22 -9s-9 -14 -9 -23v0c0 -8 3 -15 9 -22c6 -6 13 -9 22 -9v0h331c9 0 16 3 23 9c6 7 9 14 9 22v0c0 8 -2 14 -7 19v0l-306 386h287c9 0 16 3 22 9c6 7 9 14 9 23v0
c0 8 -3 15 -9 21c-6 7 -13 10 -22 10v0h-347z"
							fill="none"
							stroke="white"
							stroke-width="5"
						/>
					</svg>
				</span>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 24)" @mouseleave="clear"
					><p hidden>N</p>
					<svg
						id="logo"
						:class="{ l: letter === 'N' }"
						width="300"
						height="300"
						fill="white"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						viewBox="-10 0 571 1000"
					>
						<g transform="matrix(1 0 0 -1 0 800)">
							<path
								d="M163 -5c-9 0 -16 3 -22 10c-7 6 -10 13 -10 21v0c0 8 2 14 7 19v0l306 386h-271c-9 0 -16 3 -22 9s-9 14 -9 23v0c0 8 3 15 9 22c6 6 13 9 22 9v0h331c9 0 16 -3 23 -9c6 -7 9 -14 9 -22v0c0 -8 -2 -14 -7 -19v0l-306 -386h287c9 0 16 -3 22 -9c6 -7 9 -14 9 -23v0
c0 -8 -3 -15 -9 -21c-6 -7 -13 -10 -22 -10v0h-347zM232 282c-9 0 -16 2 -22 6s-8 8 -7 12v0l4 30c1 4 4 8 11 11c6 3 13 4 21 4v0c9 0 17 -2 23 -7s8 -9 7 -15v0l-5 -26c-1 -5 -4 -8 -10 -11c-7 -3 -14 -4 -22 -4v0zM413 122c-9 0 -16 2 -22 6s-8 8 -7 12v0l4 30
c1 4 4 8 11 11c6 3 13 4 21 4v0c9 0 17 -2 23 -7s8 -9 7 -15v0l-5 -26c-1 -5 -4 -8 -10 -11c-7 -3 -14 -4 -22 -4v0z"
								fill="none"
								stroke="white"
								stroke-width="5"
							/>
						</g>
					</svg>
				</span>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 25)" @mouseleave="clear"
					><p hidden>R</p>
					<svg
						id="logo"
						:class="{ l: letter === 'R' }"
						width="300"
						height="300"
						fill="white"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						viewBox="-10 0 625 1000"
					>
						<g transform="matrix(1 0 0 -1 0 800)">
							<path
								d="M545 -6c-10 0 -18 3 -23 9v0l-167 206l-195 -205c-6 -6 -14 -9 -23 -9v0c-8 0 -15 3 -21 10c-6 6 -9 13 -9 21v0c0 9 3 17 9 23v0l198 203l-158 189c-6 7 -9 15 -9 22v0c0 8 3 15 9 22c6 6 13 9 22 9v0c9 0 17 -3 22 -9v0l158 -193l183 191c6 6 14 9 23 9v0
c8 0 15 -3 22 -9c6 -7 9 -14 9 -22v0c0 -9 -3 -16 -9 -22v0l-187 -190l171 -204c4 -6 6 -13 6 -20v0c0 -9 -3 -16 -9 -22s-13 -9 -22 -9v0z"
								fill="none"
								stroke="white"
								stroke-width="5"
							/>
						</g>
					</svg>
				</span>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 26)" @mouseleave="clear"
					><p hidden>l</p>
					<svg
						id="logo"
						:class="{ l: letter === 'l' }"
						width="300"
						height="300"
						fill="white"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						viewBox="-10 0 529 1000"
					>
						<path
							d="M326 808c-38 0 -71 -8 -98 -24c-28 -15 -49 -34 -63 -55c-15 -21 -22 -38 -22 -53v0c0 -9 3 -16 9 -22c5 -5 12 -8 21 -8v0c15 0 24 7 28 21v0c9 27 25 47 47 62s49 22 81 22v0c32 0 58 -9 79 -26s31 -38 31 -62v0c0 -14 -3 -26 -9 -36c-7 -9 -18 -18 -34 -27
c-17 -9 -41 -18 -72 -27v0c-54 -17 -93 -36 -117 -58s-36 -51 -36 -87v0c0 -36 15 -65 45 -88c29 -22 72 -33 127 -33v0c50 0 89 10 116 30c27 21 40 49 40 84v0c0 16 -3 28 -8 36c-5 9 -13 13 -23 13v0c-9 0 -16 -3 -22 -9c-6 -5 -9 -12 -9 -19v0c0 -3 1 -7 2 -11
s1 -8 1 -11v0c0 -18 -8 -32 -24 -43c-16 -10 -40 -15 -73 -15v0c-36 0 -64 6 -83 17c-20 12 -30 29 -30 50v0c0 21 9 37 26 49s46 25 88 39v0c40 13 71 26 93 38c21 12 37 26 47 42c9 17 14 38 14 63v0c0 25 -7 48 -21 71c-15 23 -35 41 -61 55c-26 15 -56 22 -90 22v0z
M-1097 -126z"
							fill="none"
							stroke="white"
							stroke-width="5"
						/>
					</svg>
				</span>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 27)" @mouseleave="clear"
					><p hidden>L</p>
					<svg
						id="logo"
						:class="{ l: letter === 'L' }"
						width="300"
						height="300"
						fill="white"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						viewBox="-10 0 529 1000"
					>
						<g transform="matrix(1 0 0 -1 0 800)">
							<path
								d="M326 -8c-38 0 -71 8 -98 24c-28 15 -49 34 -63 55c-15 21 -22 38 -22 53v0c0 9 3 16 9 22c5 5 12 8 21 8v0c15 0 24 -7 28 -21v0c9 -27 25 -47 47 -62s49 -22 81 -22v0c32 0 58 9 79 26s31 38 31 62v0c0 14 -3 26 -9 36c-7 9 -18 18 -34 27c-17 9 -41 18 -72 27v0
c-54 17 -93 36 -117 58s-36 51 -36 87v0c0 36 15 65 45 88c29 22 72 33 127 33v0c50 0 89 -10 116 -30c27 -21 40 -49 40 -84v0c0 -16 -3 -28 -8 -36c-5 -9 -13 -13 -23 -13v0c-9 0 -16 3 -22 9c-6 5 -9 12 -9 19v0c0 3 1 7 2 11s1 8 1 11v0c0 18 -8 32 -24 43
c-16 10 -40 15 -73 15v0c-36 0 -64 -6 -83 -17c-20 -12 -30 -29 -30 -50v0c0 -21 9 -37 26 -49s46 -25 88 -39v0c40 -13 71 -26 93 -38c21 -12 37 -26 47 -42c9 -17 14 -38 14 -63v0c0 -25 -7 -48 -21 -71c-15 -23 -35 -41 -61 -55c-26 -15 -56 -22 -90 -22v0zM342 325
c-9 0 -16 2 -22 6s-8 8 -7 12v0l4 30c1 4 4 8 11 11c6 3 13 4 21 4v0c9 0 17 -2 23 -7s8 -9 7 -15v0l-5 -26c-1 -5 -4 -8 -10 -11c-7 -3 -14 -4 -22 -4v0zM305 113c-9 0 -16 2 -22 6s-8 8 -7 12v0l4 30c1 4 4 8 11 11c6 3 13 4 21 4v0c9 0 17 -2 23 -7s8 -9 7 -15v0l-5 -26
c-1 -5 -4 -8 -10 -11c-7 -3 -14 -4 -22 -4v0z"
								fill="none"
								stroke="white"
								stroke-width="5"
							/>
						</g>
					</svg>
				</span>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 28)" @mouseleave="clear"
					><p hidden>s</p>
					<svg
						id="logo"
						:class="{ l: letter === 's' }"
						width="300"
						height="300"
						fill="white"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						viewBox="-10 0 522 1000"
					>
						<path
							d="M26 778c0 -40 9 -73 28 -101s44 -51 74 -69c30 -19 68 -37 114 -56c41 -17 72 -30 92 -40c21 -9 39 -22 53 -36s22 -31 22 -50c0 -22 -15 -41 -43 -57c-28 -15 -63 -23 -104 -23c-40 0 -74 6 -104 19c-29 12 -51 24 -65 34c-7 5 -14 9 -18 12c-4 2 -10 3 -18 3
c-11 0 -20 -3 -27 -8s-10 -10 -10 -16c0 -4 2 -9 7 -13c5 -5 14 -11 27 -18c63 -39 132 -59 208 -59c42 0 80 6 113 17s59 26 78 46c19 19 29 40 29 63c0 27 -9 50 -27 69c-17 19 -38 35 -63 48c-24 12 -59 28 -103 46c-38 16 -70 31 -94 44c-25 14 -47 31 -64 51
c-18 20 -28 43 -31 70h355c10 0 19 3 26 8c8 4 11 10 11 16s-3 11 -11 16c-7 4 -16 6 -26 6h-429v-22z"
							fill="none"
							stroke="white"
							stroke-width="5"
						/>
					</svg>
				</span>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 29)" @mouseleave="clear"
					><p hidden>S</p>
					<svg
						id="logo"
						:class="{ l: letter === 'S' }"
						width="300"
						height="300"
						fill="white"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						viewBox="-10 0 509 1000"
					>
						<g transform="matrix(1 0 0 -1 0 800)">
							<path
								d="M276 510c-68 0 -128 -20 -184 -61c-12 -7 -21 -14 -24 -19c-4 -4 -7 -9 -7 -13c0 -6 3 -12 10 -17c6 -5 14 -7 23 -7c7 0 12 1 16 2c5 3 10 7 17 13c12 10 31 22 57 35s57 19 92 19c36 0 67 -7 92 -24c24 -16 38 -35 38 -58c0 -20 -7 -38 -21 -52
c-12 -16 -28 -27 -45 -38c-19 -10 -45 -24 -81 -41h-2l-127 80c-7 4 -15 7 -27 7c-9 0 -16 -2 -21 -4c-7 -2 -9 -4 -9 -7c0 -2 2 -6 9 -9l135 -88c-23 -11 -42 -24 -59 -37c-28 -18 -48 -43 -66 -71c-17 -29 -26 -64 -26 -105v-22h380c10 0 17 1 24 6c5 4 9 11 9 16
c0 8 -4 13 -9 17c-7 5 -14 8 -24 8h-314c4 28 12 53 28 73c15 21 34 38 57 52c14 10 33 21 52 31l144 -92c5 -4 14 -5 26 -5c8 0 15 1 20 3c6 2 9 5 9 7c0 3 -2 4 -3 6l-156 100c33 17 62 31 81 44c23 13 42 29 56 48c17 21 24 44 24 73c0 23 -9 45 -26 66
c-16 19 -38 34 -68 46c-29 12 -64 18 -100 18z"
								fill="none"
								stroke="white"
								stroke-width="5"
							/>
						</g>
					</svg>
				</span>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 30)" @mouseleave="clear"
					><p hidden>j</p>
					<svg
						id="logo"
						:class="{ l: letter === 'j' }"
						width="300"
						height="300"
						fill="white"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						viewBox="-10 0 560 1000"
					>
						<path
							d="M276 322c0 30 3 335 -7 356c-10 22 -32 52 -47 63s-30 17 -46 17c-35 0 -60 -30 -80 -71c-5 -11 -11 -16 -17 -16c-5 0 -10 3 -13 8c-4 5 -6 12 -6 19c0 6 2 12 6 20c11 23 26 42 47 58c20 16 42 24 66 24s47 -8 68 -25c20 -17 36 -96 48 -68s28 51 49 68s43 25 67 25
s46 -8 67 -24c20 -16 35 -35 46 -58c4 -8 6 -14 6 -20c0 -7 -2 -14 -6 -19c-3 -5 -8 -8 -13 -8c-6 0 -12 5 -17 16c-20 41 -48 70 -83 70c-15 0 -31 -6 -46 -17c-15 -12 -34 -37 -44 -59s-7 -329 -7 -359c0 0 -21 -45 -38 0z"
							fill="none"
							stroke="white"
							stroke-width="5"
						/>
					</svg>
				</span>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 31)" @mouseleave="clear"
					><p hidden>z</p>
					<svg
						id="logo"
						:class="{ l: letter === 'z' }"
						width="300"
						height="300"
						fill="white"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						viewBox="-10 0 572 1000"
					>
						<path
							d="M298 301c-5 0 -11 6 -16 20c0 13 0 80 -1 152l-107 39c-8 3 -15 8 -20 14c-5 5 -7 10 -5 14c2 5 7 7 14 8c9 1 17 0 25 -3l93 -34c-1 80 -3 157 -8 167c-10 22 -29 50 -44 62c-16 11 -31 17 -47 17c-36 0 -64 -29 -85 -70c-5 -11 -11 -16 -17 -16s-10 2 -14 8
c-4 5 -6 11 -6 19c0 5 2 12 6 20c11 23 27 42 48 58s43 24 68 24s48 -8 69 -25s37 -96 50 -68s29 51 50 68s44 25 69 25s47 -8 68 -24s37 -35 48 -58c4 -8 6 -15 6 -20c0 -8 -2 -14 -6 -19c-4 -6 -8 -8 -14 -8s-12 5 -17 16c-21 41 -49 70 -85 70c-16 0 -32 -6 -47 -17
c-15 -12 -32 -42 -43 -63c-5 -11 -7 -97 -8 -181l118 -44c9 -3 15 -7 20 -13c4 -5 6 -10 4 -14c-2 -5 -7 -8 -14 -8c-7 -2 -15 -1 -24 3l-105 38c0 -65 -1 -125 -1 -137c0 0 -10 -21 -22 -20c0 0 6 -1 0 0z"
							fill="none"
							stroke="white"
							stroke-width="5"
						/>
					</svg>
				</span>
			</div>

			<!-- Numbers -->
			<h2 class="col-12 headersSection" id="Numbers">Numbers</h2>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 32)" @mouseleave="clear"
					><p hidden>0</p>
					<svg
						id="logo"
						:class="{ l: letter === '0' }"
						width="300"
						height="300"
						fill="white"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						viewBox="-10 0 693 1000"
					>
						<path
							d="M414 806c-43 0 -82 -15 -117 -45c-35 -29 -62 -69 -81 -119c-20 -50 -30 -104 -30 -161v0c0 -63 11 -122 34 -177c22 -55 52 -100 91 -133c38 -33 80 -50 125 -50v0c43 0 81 15 116 44c35 30 62 70 82 120c19 50 29 104 29 162v0c0 63 -11 122 -33 177
c-23 55 -53 99 -91 132c-39 33 -80 50 -125 50v0zM414 744c33 0 64 -13 93 -40s52 -63 70 -108c17 -45 26 -94 26 -147v0c0 -47 -7 -90 -22 -131s-35 -73 -60 -98s-54 -37 -85 -37v0c-33 0 -64 13 -93 40s-53 63 -70 108c-17 46 -26 95 -26 148v0c0 46 7 89 22 130
c14 41 34 73 59 98s54 37 86 37v0zM423 494c-9 0 -16 -2 -22 -6s-8 -8 -7 -12v0l4 -30c1 -4 4 -8 11 -11c6 -3 13 -4 21 -4v0c9 0 17 2 23 7s8 9 7 15v0l-5 26c-1 5 -4 8 -10 11c-7 3 -14 4 -22 4v0z"
							fill="none"
							stroke="white"
							stroke-width="5"
						/>
					</svg>
				</span>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 33)" @mouseleave="clear"
					><p hidden>1</p>
					<svg
						id="logo"
						:class="{ l: letter === '1' }"
						width="300"
						height="300"
						fill="white"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						viewBox="-10 0 370 1000"
					>
						<path
							d="M314 800c14 0 26 -5 26 -10v-543v-12v-12v-7s0 -2 -2 -2c-10 -53 -58 -99 -147 -99c-102 0 -151 60 -151 122c0 60 49 118 151 118c40 0 72 -9 98 -26v461c0 5 11 10 25 10zM191 326c-51 0 -100 -45 -100 -91c0 -45 49 -89 100 -89c49 0 96 44 98 89v2
c-2 44 -49 89 -98 89z"
							fill="none"
							stroke="white"
							stroke-width="5"
						/>
						/>
					</svg>
				</span>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 34)" @mouseleave="clear"
					><p hidden>2</p>
					<svg
						id="logo"
						:class="{ l: letter === '2' }"
						width="300"
						height="300"
						fill="white"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						viewBox="-10 0 570 1000"
					>
						<path
							d="M178 125c79 0 126 42 135 88v3v7v10v10v44v0v321c24 -14 52 -24 89 -24c94 0 138 54 138 108s-44 108 -138 108c-79 0 -124 -42 -133 -88c-2 -1 -2 -1 -2 -3v-7v-10v-10v-105v0v-260c-24 14 -52 24 -89 24c-91 0 -138 -54 -138 -108s44 -108 138 -108zM178 152
c-47 0 -91 41 -91 81c0 41 44 81 91 81c44 0 89 -40 89 -81v-2c0 -38 -45 -79 -89 -79zM402 611c-44 0 -86 40 -89 81v2c3 39 45 79 89 79c47 0 91 -40 91 -81c0 -40 -44 -81 -91 -81z"
							fill="none"
							stroke="white"
							stroke-width="5"
						/>
					</svg>
				</span>
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 35)" @mouseleave="clear"
					><p hidden>3</p>
					<svg
						id="logo"
						:class="{ l: letter === '3' }"
						width="300"
						height="300"
						fill="white"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						viewBox="-10 0 520 1000"
					>
						<path
							d="M68 125c14 0 27 5 27 10v650c0 7 -13 12 -27 12c-15 0 -28 -5 -28 -12v-650c0 -5 13 -10 28 -10zM259 127c14 0 27 5 27 11v649c0 6 -13 11 -27 11c-15 0 -28 -5 -28 -11v-649c0 -6 13 -11 28 -11zM462 128c15 0 28 5 28 12v650c0 5 -13 10 -28 10c-14 0 -27 -5 -27 -10
v-650c0 -7 13 -12 27 -12z"
							fill="none"
							stroke="white"
							stroke-width="5"
						/>
					</svg>
				</span>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 36)" @mouseleave="clear"
					><p hidden>4</p>
					<svg
						id="logo"
						:class="{ l: letter === '4' }"
						width="300"
						height="300"
						fill="white"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						viewBox="-10 0 570 1000"
					>
						<path
							d="M53 292c-11 5 -13 25 -13 36c0 13 5 27 13 30l391 105l-391 104c-8 2 -13 17 -13 32c0 10 2 29 13 32l464 167c4 2 4 2 7 2c10 0 16 -15 16 -32c0 -14 -5 -27 -15 -30l-402 -146l404 -108c10 -1 13 -23 13 -32c0 -15 -5 -28 -15 -32l-402 -108l407 -143
c7 -3 10 -12 10 -22c0 -5 -2 -22 -10 -22c-1 0 -3 0 -5 2z"
							fill="none"
							stroke="white"
							stroke-width="5"
						/>
					</svg>
				</span>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 37)" @mouseleave="clear"
					><p hidden>5</p>
					<svg
						id="logo"
						:class="{ l: letter === '5' }"
						width="300"
						height="300"
						fill="white"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						viewBox="-10 0 520 1000"
					>
						<path
							d="M86 125h93c221 0 311 157 311 339c0 184 -100 336 -323 336h-81c-25 0 -46 -10 -46 -22v-631c0 -12 21 -22 46 -22zM179 189h-68v545h56c173 0 260 -120 260 -272c-2 -146 -74 -273 -248 -273z"
							fill="none"
							stroke="white"
							stroke-width="5"
						/>
					</svg>
				</span>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 38)" @mouseleave="clear"
					><p hidden>6</p>
					<svg
						id="logo"
						:class="{ l: letter === '6' }"
						width="300"
						height="300"
						fill="white"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						viewBox="-10 0 470 1000"
					>
						<path
							d="M161 125c70 0 109 46 116 105c2 0 2 1 2 1v24v226l134 -26c6 -1 12 1 17 6c6 6 9 12 10 20s-1 15 -5 22c-3 7 -8 11 -15 13l-141 27v247c0 5 -9 10 -20 10s-20 -5 -20 -10v-240l-121 23c-6 2 -11 0 -17 -5c-4 -5 -7 -11 -8 -19s0 -16 4 -23c3 -7 8 -11 14 -13l128 -24
v-153c-21 17 -47 25 -78 25c-82 0 -121 -57 -121 -116c0 -61 39 -120 121 -120zM161 155c-41 0 -80 44 -80 88c0 46 39 90 80 90c39 0 76 -44 78 -88v-2c-2 -44 -39 -88 -78 -88z"
							fill="none"
							stroke="white"
							stroke-width="5"
						/>
					</svg>
				</span>
			</div>

			<div class="col-lg-3 col-md-4 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 39)" @mouseleave="clear"
					><p hidden>7</p>
					<svg
						id="logo"
						:class="{ l: letter === '7' }"
						width="300"
						height="300"
						fill="white"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						viewBox="-10 0 570 1000"
					>
						<path
							d="M178 128c79 0 126 50 135 109v19v66l-2 111l92 -57c10 -4 20 -6 29 -2c8 3 11 7 15 15c3 9 5 16 0 25c-4 8 -15 15 -25 21c0 0 -110 66 -110 67s1 65 1 65c24 -16 52 -27 89 -27c94 0 138 64 138 128c0 65 -44 130 -138 130c-79 0 -123 -62 -133 -106
c-1 -4 -2 -11 -2 -11v-13l3 -146l-107 71c-9 2 -19 1 -28 -4c-9 -4 -14 -11 -17 -20c-2 -10 -1 -19 4 -27c4 -4 12 -11 22 -17l122 -68l1 -100c-24 17 -52 29 -89 29c-91 0 -138 -64 -138 -130c0 -64 44 -128 138 -128zM174 174c-47 0 -91 42 -91 84c0 43 44 85 91 85
c44 0 89 -42 89 -85v-1c0 -41 -45 -83 -89 -83zM406 584c-45 0 -87 42 -89 84v2c2 40 44 82 89 82c46 0 91 -42 91 -84s-45 -84 -91 -84z"
							fill="none"
							stroke="white"
							stroke-width="5"
						/>
					</svg>
				</span>
			</div>

			<div class="col-lg-6 col-md-4 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 40)" @mouseleave="clear"
					><p hidden>8</p>
					<svg
						id="logo"
						:class="{ l: letter === '8' }"
						width="300"
						height="300"
						fill="white"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						viewBox="-10 0 570 1000"
					>
						<path
							d="M149 125c11 0 20 5 20 10v324l99 -14v-306c0 -7 9 -12 19 -12c11 0 20 5 20 12v300l108 -15v-284c0 -7 9 -12 20 -12s20 5 20 12v278l46 -6c9 -2 17 0 25 6c8 5 12 12 14 21c1 8 -1 16 -7 23c-5 8 -12 12 -21 13l-57 9v306c0 5 -9 10 -20 10s-20 -5 -20 -10v-301l-108 15
v282c0 7 -9 12 -20 12c-10 0 -19 -5 -19 -12v-276l-99 14v261c0 7 -9 12 -20 12s-20 -5 -20 -12v-255l-52 7c-8 1 -16 -1 -24 -6c-7 -5 -11 -12 -13 -20c-1 -9 1 -17 6 -24c5 -8 13 -12 21 -14l62 -9v-329c0 -5 9 -10 20 -10z"
							fill="none"
							stroke="white"
							stroke-width="5"
						/>
					</svg>
				</span>
			</div>

			<div class="col-lg-6 col-md-12 col-sm-6">
				<span class="nyn" @mouseover="animate($event, 41)" @mouseleave="clear"
					><p hidden>9</p>
					<svg
						id="logo"
						:class="{ l: letter === '9' }"
						width="300"
						height="300"
						fill="white"
						xmlns="http://www.w3.org/2000/svg"
						xmlns:xlink="http://www.w3.org/1999/xlink"
						version="1.1"
						viewBox="-10 0 570 1000"
					>
						<path
							d="M338 125h5c6 1 10 5 13 12c4 6 5 14 3 21l-21 100l187 -47c2 -1 4 -1 5 -1c8 0 10 12 10 16c0 7 -3 13 -10 15l-199 51l-18 90l212 41c10 2 15 12 15 23c0 6 -3 22 -13 23l-242 47l-15 70l255 66c10 3 15 12 15 22c0 12 -6 23 -16 23c-3 0 -3 0 -7 -1l-256 -67l-30 147
c-2 7 -5 13 -11 18s-11 7 -17 6s-11 -5 -14 -11c-4 -6 -5 -13 -3 -20l31 -151l-164 -43c-11 -2 -13 -16 -13 -23c0 -11 5 -22 13 -23l190 -37l15 -74l-205 -40c-8 -3 -13 -12 -13 -22c0 -7 2 -22 13 -26l236 -59l25 -120c1 -8 5 -15 10 -20c5 -3 9 -6 14 -6zM282 305
l-159 40l145 28zM303 426l-11 57l152 -30zM236 525l-113 22l103 27z"
							fill="none"
							stroke="white"
							stroke-width="5"
						/>
					</svg>
				</span>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: "Visual Dictionary",
		data() {
			return {
				strokeArray: 0,
				letter: "",
			};
		},

		methods: {
			calculateStrokeProperties(i) {
				var x = document.querySelectorAll("#logo path")[i].getTotalLength();
				this.strokeArray = x;
			},

			animate(event, i) {
				this.calculateStrokeProperties(i);
				this.letter = event.target.previousSibling.innerHTML;
				console.log(this.strokeArray);
			},

			clear() {
				this.strokeArray = 0;
				this.letter = "";
			},
		},
	};
</script>

<style scoped>
	/* title */
	.threeLinks {
		display: flex;
		justify-content: center;
		/* margin: 1% 0% 0% 40%; */
		/* width: 50%; */
	}

	.links {
		position: relative;
		/* width: 5%; */
		text-decoration: none;
		color: white;
		font-size: 1.5rem;
		margin: 2%;
	}
	/* .nynlogo.navbar-brand:hover{ 
  color: #ffffffa3
} */
	a {
		position: relative;
	}

	a:hover:not(.dropdown-toggle, .dropdown-item, .navbar-brand) {
		cursor: pointer;
		color: #ffffffa3;
	}

	a:not(.dropdown-toggle, .dropdown-item, .navbar-brand)::after {
		background: none;
		bottom: 0;
		content: "";
		display: block;
		height: 2px;
		left: 50%;
		position: absolute;
		background: rgba(255, 255, 255, 0.5);
		transition: width ease 0.3s, left ease 0.3s;
		width: 0;
	}

	a:hover:not(.dropdown-toggle, .dropdown-item, .navbar-brand):after {
		width: 100%;
		left: 0;
	}

	.title {
		padding: 2% 0% 2%;
		background-color: #335465;
		margin: 0;
		padding: 5% 0% 10%;
	}

	.heading {
		text-align: center;
	}

	h1 {
		font-size: 6rem;
		color: aliceblue;
		font-family: "Montserrat", sans-serif;
		font-weight: 500;
		line-height: 1.5;
	}

	.nyn {
		font-family: Nayana;
		font-size: 9rem;
		color: white; /*#D0E8F2;*/
	}

	.nyn {
		position: relative;
		/* display: block; */

		text-align: center;
		/* line-height: 60px; */
		/* background: #171515; */
		border-radius: 50%;
		/* font-size: 30px;
    color: #666; */
		transition: 0.5s;
	}

	.nyn:before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background: #d0e8f2;
		transition: 0.5s;
		transform: scale(0.9);
		z-index: -1;
	}

	.nyn:hover:before {
		transform: scale(1.2);
		box-shadow: 0 0 15px #d0e8f2;
		filter: blur(3px);
	}

	.nyn:hover {
		color: #d0e8f2;
		/* box-shadow: 0 0 15px #D0E8F2; */
		text-shadow: 0 0 15px #d0e8f2;
		cursor: pointer;
	}

	.Vowels {
		text-align: center;
		padding: 2% 0% 5%;
		margin: 0;
		background-color: #222831; /*#2e343b*/
	}

	.headersSection {
		padding: 6% 0% 4%;
		font-family: "Montserrat", sans-serif;
		color: white;
		font-size: 4rem;
	}

	.l path:nth-child(1) {
		stroke-dasharray: v-bind(strokeArray) v-bind(strokeArray);
		stroke-dashoffset: 0;
		animation: signature 4s linear;
	}

	@keyframes signature {
		from {
			stroke-dasharray: 0 v-bind(strokeArray);
		}

		to {
			stroke-dasharray: v-bind(strokeArray) 0;
		}
	}
</style>
