<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12" id="front1">
        <div>
          <h1 style="margin-top: 15%; margin-left: 10%">
            naYana - <br />An alternate<br />phonetic alphabet
          </h1>

          <button
            type="button"
            class="btn btn-warning bun btn-lg align-text:left"
            style="margin-left: 10%"
          >
            Start Learning
          </button>
        </div>
      </div>

      <div class="col-md-4 text-center">
        <img
          alt="notebook"
          :src="writing"
          style="margin: 15%; max-height: 200px"
        />
        <h1>Script made simple</h1>
        <br />
        <h3>
          No two letters in nayana have rotational or lateral symmetry, thus
          making nayanaeasier to understand
        </h3>
      </div>
      <div class="col-md-4 text-center">
        <h1>Phonetically designed</h1>
        <br />
        <h3>
          Each naYana character has its distinct pronounciation. No mismatch
          between the way a word is written and spoken.
        </h3>
        <img
          alt="notebook"
          :src="talking"
          style="margin: 15%; max-height: 200px"
        />
      </div>
      <div class="col-md-4 text-center">
        <img
          alt="notebook"
          :src="notebook"
          style="margin: 15%; max-height: 200px"
        />
        <h1>Form follows function</h1>
        <h3>
          Sharper sounds have corresponding alphabets having sharper edges.
          Every character is meticulously crafted.
        </h3>
      </div>

      <div class="col-md-6 div-center text-center">
        <h1>Learn nayana by completing fun bite-sized lessons</h1>
      </div>
      <div class="col-md-6 text-center">
        <img alt="notebook" :src="teacher" style="max-height: 400px" />
      </div>

      <div class="col-md-6 text-center">
        <div class="row">
          <div class="col-md-6 div-center">
            <a
              href="http://www.hbcse.tifr.res.in/people/former-members/nagarjuna-g"
            >
              <img
                alt="Nagarjuna Sir"
                :src="nagarjuna_sir"
                class="rounded-circle"
                style="margin: 15%; max-height: 200px"
              />
            </a>
          </div>
          <div class="col-md-6 div-center">
            <a href="">
              <img
                alt="notebook"
                :src="notebook"
                class="rounded-circle"
                style="margin: 15%; max-height: 200px"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 div-center">
        <h1>Meet the creators of nayana</h1>
      </div>

      <div></div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      nagarjuna_sir: require("../assets/nagarjuna_sir.jpg"),
      notebook: require("../assets/notebook.jpg"),
      writing: require("../assets/writing.jpg"),
      talking: require("../assets/talking.jpg"),
      teacher: require("../assets/teacher.jpg"),
    };
  },
};
</script>

<style scoped>
#front1 {
  background-image: url("../assets/7800.jpg");
  background-repeat: no-repeat;
  background-size: 95%;
  height: 650px;
  text-align: left;
}

.size-text {
  font-size: 2.5rem;
  display: flex;
}

div {
  row-gap: 50px;
}

.div-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
