<template>
	<div>
		<div id="app">
			<nav class="navbar navbar-expand-lg navbar-dark bg-nav">
				<div class="container-fluid">
					<router-link class="navbar-brand nynlogo" to="/">naYana</router-link>

					<button
						class="navbar-toggler"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#navbarHeaderContent"
						aria-controls="navbarSupportedContent"
						aria-expanded="false"
						aria-label="Toggle navigation"
					>
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarHeaderContent">
						<ul class="navbar-nav ms-auto">
							<li class="navbar-item">
								<router-link class="nav-link" to="/about">About</router-link>
							</li>
							<li class="navbar-item">
								<router-link class="nav-link" to="/Keyboard"
									>Keyboard</router-link
								>
							</li>
							<!-- <li class="navbar-item">
							<a class="nav-link" href="">FAQs</a>
						</li>
						<li class="navbar-item dropdown">
							<a
								class="nav-link dropdown-toggle"
								href="#"
								id="navbarDropdown"
								role="button"
								data-bs-toggle="dropdown"
								aria-expanded="false"
							>
								Languages
							</a>
							<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
								<li>
									<a class="dropdown-item" href="">English</a>
								</li>
								<li>
									<a class="dropdown-item" href="">Hindi</a>
								</li>
							</ul>
						</li> -->
							<li class="navbar-item" id="visDict">
								<router-link class="nav-link" to="/Visualdictionary"
									>Visual Dictionary
								</router-link>
							</li>
						</ul>
						<form class="d-flex">
							<router-link class="btn btn-warning bun" to="/Login"
								>Login</router-link
							>
							|
							<router-link class="btn btn-warning bun" to="/Register"
								>Register</router-link
							>
						</form>
					</div>
				</div>
			</nav>

			<router-view />
		</div>

		<footer class="footer navbar navbar-expand-lg navbar-dark bg-nav">
			<button
				class="navbar-toggler"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#navbarFooterContent"
				aria-controls="navbarSupportedContent"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarFooterContent">
				<ul class="navbar-nav">
					<li class="navbar-item">
						<router-link class="nav-link" to="/about">About</router-link>
					</li>
					<li class="navbar-item">
						<a
							class="nav-link"
							href="https://www.gnowledge.org/index.html#contact"
							>Contact</a
						>
					</li>
					<li class="navbar-item">
						<a class="nav-link" href="https://www.gnowledge.org/"
							>More Projects at HBCSE</a
						>
					</li>
				</ul>
			</div>

			<router-link class="navbar-brand nynlogo" to="/">naYana</router-link>
		</footer>
	</div>
</template>

<script>
	export default {
		name: "App",
	};
</script>

<style>
	#app {
		font-family: "Nunito", sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		text-align: center;
		color: #2c3e50;
		min-height: 100vh;
		position: relative;
	}

	/* Navbar */
	.navbar {
		padding: 0 19px 0 19px;
	}

	.bg-nav {
		background: #223843;
	}

	.navbar-brand {
		font-style: normal;
		font-weight: bold;
		font-size: 42px;

		color: #ffffff;
	}

	.navbar-item {
		padding: 0 20px;
		font-size: 17px;
	}

	a {
		position: relative;
	}

	a:hover:not(.dropdown-toggle, .dropdown-item, .navbar-brand, .btn, .gitlab_icon) {
		cursor: pointer;
		color: #ffffffa3;
	}

	a:not(.dropdown-toggle, .dropdown-item, .navbar-brand, .btn, .gitlab_icon)::after {
		background: none;
		bottom: 0;
		content: "";
		display: block;
		height: 2px;
		left: 50%;
		position: absolute;
		background: rgba(255, 255, 255, 0.5);
		transition: width ease 0.3s, left ease 0.3s;
		width: 0;
	}

	a:hover:not(.dropdown-toggle, .dropdown-item, .navbar-brand, .btn):after {
		width: 100%;
		left: 0;
	}

	/* Button */
	.btn.btn-warning.bun {
		background-color: #ffb703;
		border-radius: 20px;
	}

	.btn.btn-warning.bun:hover {
		background-color: #d29600;
		border: none;
	}

	.btn.btn-warning.bun:focus {
		box-shadow: none;
	}
</style>
